.box-entry {
    display: flex;
    flex-direction: row;
    font-size: 32px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    color: rgb(41, 41, 41);
    font-weight: 500;
    width: 800px;
    margin: 12px;
    transition: .5s;
}

.box-entry:hover {
    transition: 1s;
    transform: scale(1.1, 1.1);
}
.icon-holder {
    background-color: rgb(64, 101, 248);
    margin: 0;
    border-radius: 10px 0px 0px 10px;
    color: rgb(255, 255, 255);
}

.spacer {
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
